# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# macOS
.DS_Store

# Android
.gradle/
local.properties
.idea/
*.iml

# VSCode
.vscode/

# Misc
*.log
*.tmp
